@CHARSET "UTF-8";

/* main_Setting.html 에만 적용되는 css file */

@font-face{
		font-family: 'orbitron';
		src: url('../font/orbitron-black-webfont.woff') format('woff');
}
@font-face{
		font-family: 'orbitron-l';
		src: url('../font/orbitron-light-webfont.woff') format('woff');		
}

body {font-family: 'orbitron', sans-serif; overflow-x: hidden;}

hr {
  width: 62px;
  margin-top: 16px;
  margin-bottom: 16px;  
}
/* 폰트 아이콘 */
.fa, .li{  
	display: block; width: 60px; height: 60px; line-height: 60px; font-size: 2.5em;
	border-radius: 30px; -webkit-border-radius: 30px;	-moz-border-radius: 30px;
	text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.15); border: 0px; 
	color: white; text-align: center;	
}
.activityIcon .fa, .activityIcon .li, .checkBack{
	display: block; width: 50px; height: 50px; line-height: 50px; font-size: 2.1em;
	border-radius: 25px; -webkit-border-radius: 25px;	-moz-border-radius: 25px;
	text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.15); border: 0px; margin : inherit;
	color: white; text-align: center;	
		
}
.header { 
	position: fixed;margin: 0px;width: 100%;height: 50px; line-height: 50px; 
	background: #7ABF49; text-align: center; color: #fff;  font-weight: bold;
	font-size: 1.7em;	background: #7ABF49; border: none;	text-shadow: none;
	color: white;	z-index: 99;
}
.header a{ position: absolute; left: 0; width: 70px;
text-decoration: none; color: #fff; font-size: 100%;}
* { margin: 0px; padding: 0px;}

.activity_group{
	padding: 10px 10px 10px 10px;
	color: black;
	font-weight: bold;
	text-indent: 3px;
}
.all_icon{
		padding-top: 230px;
}


/* 분류별 아이콘 div */
.icon_theme{min-width: 300px;	min-height: 140px;/* border: 1px solid white */;	clear: both;}

/* 선택된 아이콘 div */
#selected_icon {	z-index: 999;height: 180px; width: 100%; background: white;  position: fixed; margin-top: 50px; }

.back{z-index: 9999;width: 25px; height: 25px; margin: 0px 0px 0px 10px;  }

/* 선택된아이콘 한줄 */
.icon_row{min-width: 300px; overflow: auto;margin: 0 auto;}

/* icon 하나 박싱 */
.icon{width: 60px;	height: 70px; float: left; padding: 0px 10px 0px 10px;  }

/* 아이콘들 */
i{float: left;	margin: 0px;}


/*   두번째페이지 (setting)f---- */
#setting{
 background: white; 
	text-shadow: none;
}

#selected_icon_row {
	width: 280px;
	padding: 10px 10px 10px 40px;
	margin: 0px auto;
}

.check{z-index:9px;}

.all_icon .icon_theme{
	background: #EEE;
	padding: 5px 0px 5px 15px;

}
.activityIcon{
	width: 50px;
	padding:0px 10px;
	height: 90px;
	float: left;
	text-align: center;
}

.actName{
	margin-top: -7px;
	width: 50px;
	text-shadow: none;
	color: black;
	font-size: 12px;
	font-family: sans; 
	height: 20px;
	text-align: center;
}


.fa-mobile{font-size: 3.0em;}

.fa-check{ z-index: 99;}

.checkBack{
	position: absolute;
	background: black;
	opacity: 0.6;
}

.check{
	position: absolute;
	float: left;
}
.fa-glass{font-size: 2.5em;}
.fa-mobile {font-size: 4em;}
.li_pen {font-size: 2.8em;}
.fa-arrow-left{
	width: 30px;
	height: 30px;
	position: absolute;
}
