@CHARSET "UTF-8";

/* 슬라이드 */
* {
  margin: 0px;
}

.a1{
  margin-top: 58px;
  margin-left: 190px;
}
.a1 img {
  bottom: 20px; right: 20px;
  width: 50px; height: 50px;
}



.a2{
	margin-top: 35px;
	margin-left: 230px;
}
.a2 img {
	position: absolute; bottom: 20px; right: 20px;
	width: 50px; height: 50px;
}

#content {
  margin-top: 34px;
}

#menuLeft {
  margin-left: 90px;
}


#slide {
  height:533px;  px; width:104px; overflow:hidden; 
  background: #ccc;
  position: absolute;
  left: 0;
  top: 0;
}

#input {
  border: 0px;
  width: 104px;
  margin-top: 13px;
}

#icons {
  height:490px; width:129px; overflow:auto;
  margin-left: 19px;
  margin-top: 13px;
}

hr {
  width: 62px;
  margin-top: 16px;
  margin-bottom: 16px;  
}

.font {
  text-align: center;
  width: 65px;
  color: white;
}


/* 끝 */ 


/* 갤럭시 이미지 */
#backImg {
  background: url("img/Galaxy_S4 white.png") 8px 0px; 
  margin: 0px auto; width: 493px; height: 840px;
  position: relative; 
}

/* 갤럭시 디스플레이 레이아웃 */
#blank { height: 60px;}
#layout { /* border: 1px solid #000; */
margin: 30px auto 0px;
width: 320px;
height: 85%;
position: relative; }

/* 좌측 메뉴 */
#menuLeft { border: 1px solid #999; 
display: block; width: 30px; height: 30px; }


/* 메인아이콘 */
#iconMainDiv { width: 300px; height: 340px; margin: 0px auto; position: relative; }

.iconStart { position: absolute; top: 142px; left: 118px; }

.iconMain { position: absolute;}
.iconMain.middle { top: 142px; left: 118px; }
.iconMain.center { left: 118px; }
.iconMain.left { left: 10px; }
.iconMain.right { right: 10px; }
.iconMain.center.top { top: 10px; }
.iconMain.left.top, .right.top { top: 80px; }
.iconMain.left.bottom, .right.bottom { top: 205px; } 
.iconMain.center.bottom { top: 275px; } 

/* 타이머 */
#result { width: 64px; height: 64px; 
line-height: 64px; text-align: center; font-weight: bolder; font-size: 145%; }




/* Result Pie ======================== */

#date {
height: 60px; text-align: center; line-height: 100px; position: relative; }
#date h1 { font-size: 400%; font-weight: bold; margin: 0; }
#date span { position: absolute; }
#date span.left { left: 40px; }
#date span.right { right: 40px; }

/* 파이차트 */
#pieChart { margin-left: 35px; margin-top:20px;}
.pieChart_legend {margin-top: 23px;}

/* 결과창 하단 메뉴 */
#resultFooter { position: absolute; bottom: 20px; right: 20px; }
#resultFooter a { display: inline-block; margin-left: 5px; }
#resultFooter img { width: 50px; height: 50px; }


/* Result List = rt* ======================= */

#resultList { height: 319px; width: 340px; overflow: auto; }    
#rtScroll { overflow: hidden; position:absolute; height: 385px; width:300px; margin-left: 30px; margin-top: 40px; } 
#rtTable { height: 70px;}
#rtImage{ /* position: absolute; */ text-align: center; margin-top: -6px; margin-left: -280px; padding-top: 10px; }
#rtName{ text-align: center; height: 20px; margin-left: 52px; margin-top: -10px; width: 105px; display: block; }
#rtTime{ text-align: center; float:right; margin-right: 66px; margin-top: -10px; }
#resultList img { width: 40px; height: 40px; margin-bottom: -4%; }