@CHARSET "UTF-8";

/* main.html 에 적용되는 css file */
body, body * { margin: 0px; padding: 0px;}
html,body{width: 100%; height:100%;}
body{overflow:hidden;}
/* 레이아웃 */
#layout { /* border: 1px solid #000; */
margin: 30px auto 0px; width: 320px; height: 85%; position: relative;}

/* 메인아이콘 */
#iconMainDiv { width: 300px; height: 340px; margin: 0px auto 0px; position: relative; }
@font-face{ font-family: 'orbitron'; src: url('../font/orbitron-black-webfont.woff') format('woff');}

.header { border: none; text-shadow: none; color: #fff; background: #de0052;
font-family: 'orbitron', san1s-serif; font-size: 1.7em; font-weight: bold; 
height: 50px; line-height: 50px; text-align: center;}

.aLinks{position: absolute; width: 180px; height:34px; 
				right: 0px; bottom: 10px; margin-right: 5px; }
.aLinks a{width: 55px; margin-right: 5px;float: left; background: #85CDE1;
					color: white;font-size: 0.8em;  height: 34px;line-height: 34px; text-align: center; font-family: 'orbitron';}
					
/* .links .li {text-shadow: none; margin: 0 auto 0;} */
.iconLink { width: 70px; bottom: 1px; font-size: 150%; text-decoration: none; }
.resultLink { width: 70px; bottom: 1px; font-size: 150%; text-decoration: none;}
.userLink{width: 70px; bottom: 1px;  font-size: 150%; text-decoration: none;}

.resultLink i { color:#de0052; font-size: 1.3em;}000000000000000000
.userLink i { color:#de0052; font-size: 1.3em;}
/* 폰트 아이콘 */
.fa, .li {  
	display: block; width: 70px; height: 70px; line-height: 70px; font-size: 2.8em;
	border-radius: 35px; -webkit-border-radius: 35px;	-moz-border-radius: 35px;
	text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.15); border: 0px; 
	color: white; text-align: center;	
}

/* .li_settings, .li_user, .li_search{
		width: 32px; height: 32px; line-height: 32px;
		border: 1px solid black;
}

 */
#middle { position: absolute; left: 115px; top: 139px; }
#start { position: absolute; top: 110px; left: 106px; width: 88px; height: 128px; opacity: 1; }
.iconMain { position: absolute; }
.iconMain.center { left: 115px; }
.iconMain.left { left: 10px; }
.iconMain.right { left: 220px; }
.iconMain.center.top { top: 10px; }
.iconMain.left.top, .right.top { top: 80px; }
.iconMain.left.bottom, .right.bottom { top: 205px; } 
.iconMain.center.bottom { top: 275px; } 

/* 빙글빙글 */
.flipping { -webkit-transform: rotateY(720deg); -webkit-transition: 1.0s;}

/* 타이머 */
#timer { position: absolute; width: 64px; height: 64px; 
line-height: 64px; text-align: center; font-weight: bolder; font-size: 145%; }

